{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block page_title %}base page{% endblock %}</title>

        {# Load CSS and JavaScript #}
        {% bootstrap_css %}
        {% bootstrap_javascript %}

    {% block html-head %}{% endblock %}

</head>

<body>

{% bootstrap_messages %}

{% block content %}
{% endblock %}


<script type="text/javascript" src="http://yastatic.net/jquery/2.1.1/jquery.min.js"></script>
{#<script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery.jsonrpc.js"></script>#}
<script type="text/javascript" src="{{ STATIC_URL }}js/base.js"></script>
</body>
</html>
